<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-spreadsheet">Spreadsheet</h3>
    <ul>
      <li>Formatting data tables</li>
      <li>Formatting problems</li>
      <li>Dates as data</li>
      <li>Quality control</li>
      <li><a href="{{site.dc_site}}/spearsheet-ecology-lesson/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-openrefine">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Basic functions</li>
      <li>Advanced Functions</li>
      <li><a href="{{site.dc_site}}/OpenRefine-ecology-lesson/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">Python for ecologists</h3>
    <ul>
      <li>Dataframes and Pandas</li>
      <li>Data workflow and automation</li>
      <li>Making plots with ggplot</li>
      <li>Making plots with Matplotlib</li>
      <li><a href="{{site.dc_site}}/python-ecology-lesson/reference">Reference...</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-sql">SQL for ecology</h3>
    <ul>
      <li>Reading and sorting data</li>
      <li>Filtering with <code>where</code></li>
      <li>Calculating new values on the fly</li>
      <li>Handling missing values</li>
      <li>Combining values using aggregation</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li><a href="{{site.dc_site}}/sql-ecology-lesson/reference">Reference...</a></li>
    </ul>
  </div>
</div>
